<!-- Card de Clima -->
<!-- class="background: white; border-radius: 16px; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1); overflow: hidden;"> -->
<div *ngIf="weatherData"
    class="bg-white rounded-2xl overflow-hidden">
    <!-- Header do Card -->
    <!-- class="color: white; padding: 24px; text-align: center;" -->
    <div class="text-white p-6 text-center"
        >
        <!-- class="font-size: 32px; font-bold; margin-bottom: 4px;" -->
        <h2 class="text-3xl font-bold mb-1">{{ cidadeNome }}</h2>
        <!-- class="color: #B3CFF2; text-transform: capitalize; font-size: 18px;" -->
        <p class="text-[#b3cff2] capitalize text-lg">{{
            weatherData.current.weather[0].description }}</p>
    </div>

    <!-- Temperatura Principal -->
    <div  class="p-8 text-center">
        <div class="text-7xl font-bold text-white mb-2">
            {{ weatherData.current.temp | number:'1.0-0' }}°
        </div>
        <p class="text-white text-lg;">Sensação de {{ weatherData.current.feels_like | number:'1.0-0' }}°C</p>
    </div>

    <!-- Sol -->
    <div
        class="grid grid-cols-[1fr_1fr] gap-4 p-6 bg-[rgba(179, 207, 242, 0.2)]">
        <div
            class="text-center p-4 bg-white rounded-lg">
            <div class="text-2xl mb-1">🌅</div>
            <p class="text-[#889ABF] text-xs font-semibold mb-1">Nascer do Sol</p>
            <p class="text-[#034AA6] font-bold">{{ weatherData.current.sunrise | toSeconds | date:'HH:mm' }}</p>
        </div>
        <div
            class="text-center p-4 bg-shite rounded-lg">
            <div class="text-2xl mb-1">🌇</div>
            <p class="text-[#889ABF] text-xs font-semibold mb-1">Pôr do Sol</p>
            <p class="text-[#034AA6] fontbold">{{ weatherData.current.sunset | toSeconds | date:'HH:mm' }}</p>
        </div>
    </div>

    <!-- Detalhes do Clima -->
    <div class="p-6">
        <div
            class="flex align-center justify-between p-3 rounded-lg mb-3">
            <span class="text-[#035AA6] font-regular">💧 Umidade</span>
            <span class="text-[#035AA6] font-bold">{{ weatherData.current.humidity }}%</span>
        </div>

        <div
            class="flex items-center justify-between p-3 rounded-lg mb-3">
            <span class="text-[#035AA6] font-regular">🌡️ Pressão</span>
            <span class="text-[#035AA6] font-bold">{{ weatherData.current.pressure | pressure | number:'1.0-0' }}
                mmHg</span>
        </div>

        <div
            class="flex items-center justify-between p-3 rounded-lg mb-3">
            <span class="text-[#035AA6] font-regular">💨 Vento</span>
            <span class="text-[#035AA6] font-bold;">{{ weatherData.current.wind_speed }} m/s</span>
        </div>

        <div
            class="flex items-center justify-between p-3 rounded-lg mb-3">
            <span class="text-[#035AA6] font-regular">🧭 Direção</span>
            <span class="text-[#035AA6] font-bold;">{{ weatherData.current.wind_deg }}°</span>
        </div>

        <div
            class="flex items-center justify-between p-3 rounded-lg mb-3">
            <span class="text-[#035AA6] font-regular">☀️ Índice UV</span>
            <span class="text-[#035AA6] font-bold">{{ weatherData.current.uvi }} UV</span>
        </div>
    </div>
</div>